.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.rates-component header {
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
}
.rates-component h2 {
  font-weight: 500;
  font-size: 1.25em;
}

.ag-header-cell-label {
  justify-content: center;
}

.rates-align-right span.ag-header-cell-text {
  text-align: right;
  width: 100%;
}
